<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <!-- Site info -->
        <meta charset="utf-8">
        <title>Vue-slider</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Carousel in Vue.js">

        <!-- Icons -->
        <script src="https://kit.fontawesome.com/efa78a0868.js" crossorigin="anonymous"></script>

        <!-- css -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <main>
            <section>

                <!-- Vue container -->
                <div id="root">
                    <div class="slider-container">
                        <div @click="prev()" class="prev">
                            <span class="fas fa-chevron-left"></span>
                        </div>

                        <div class="immages">
                            <img :src="img_slider[index_slider]" alt="Nike Blazer Low">
                        </div>

                        <div @click="next()" class="next">
                            <span class="fas fa-chevron-right"></span>
                        </div>

                        <div class="markers">
                            <div v-for="(img, i) in img_slider" v-if="i == index_slider" :class="active" class="marker"></div>
                        </div>
                    </div>
                </div>

            </section>
        </main>


        <!-- Js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="main.js" charset="utf-8"></script>

    </body>
</html>
