/* Gen settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    display: flex;
    width: 700px;
    height: 550px;
    position: relative;
}

.prev, .next {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.immages {
    width: calc(100% - 100px);
}

.next, .prev {
    font-size: 30px;
    opacity: .5;
    transition: opacity .5s ease;
    cursor: pointer;
}

.next:hover, .prev:hover {
    font-size: 30px;
    opacity: 1;
}

.immages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.markers {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.marker {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    margin: 0 5px;
    background-color: lightgrey;
}

.marker.active {
    background-color: grey;
}
